body {
  background-color: #FFFDFA;
  font-family: "Inter", sans-serif;
}

p {
  color: #5E607A;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.header_container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.5vh;
  max-width: 1110px;
  justify-content: space-between;
}
.header_container .logo {
  width: 64.09px;
  height: 39.9px;
  color: #00001A;
}
.header_container nav a {
  text-decoration: none;
  color: #5E607A;
  font-weight: 400;
  margin-left: 3em;
  font-size: 15px;
}

.main_container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.5vh;
  max-width: 1110px;
}
.main_container .main_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  max-height: 511px;
}
.main_container .main_grid .bigPicture {
  grid-column: span 2;
}
.main_container .main_grid .bigPicture img {
  width: 100%;
  height: auto;
}
.main_container .main_grid .bigTitle h1 {
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-weight: 800;
  line-height: 56px;
  text-align: left;
}
.main_container .main_grid .readMore {
  display: flex;
  flex-direction: column;
}
.main_container .main_grid .readMore .readmoreButton {
  height: 48px;
  width: 185px;
  background-color: #F15D51;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.main_container .main_grid .readMore .readmoreButton a {
  text-decoration: none;
  color: #FFFDFA;
  letter-spacing: 0.2em;
  font-weight: 600;
}
.main_container .main_grid .New {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-row: span 2;
  background-color: #00001A;
  color: white;
  padding: 20px;
}
.main_container .main_grid .New h2 {
  color: #E9AA52;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}
.main_container .main_grid .New h3 {
  color: #FFFDFA;
}
.main_container .main_grid .New p {
  padding: 0px;
  width: auto;
}

section {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.5vh;
  max-width: 1110px;
}

.grid_articles {
  width: 100%;
  display: grid;
  grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr;
  gap: 30px 0px;
}
.grid_articles article {
  display: grid;
  grid-template-columns: [col1] 1fr [col2] 2fr;
  grid-template-rows: 129px;
}
.grid_articles article .miniArticle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid_articles article .miniArticle h2 {
  font-size: 18px;
  line-height: 24px;
  color: #00001A;
}
.grid_articles article .Number {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #C5C6CE;
}

.article_img {
  height: 129px;
  width: 99.65px;
}

.mobile-image {
  display: none;
}

.MobileNav {
  display: none;
}

@media (max-width: 768px) {
  .DesktopNav {
    display: none;
  }
  .MobileNav {
    height: 28px;
    width: 40px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-top: 5px;
  }
  .MobileNav hr {
    background-color: #00001A;
    height: 3px;
  }
  .main_container {
    margin-top: 3vh;
    max-width: 343px;
  }
  .main_container .main_grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-height: none;
  }
  .main_container .main_grid .New {
    min-height: 489px;
    min-width: 343px;
    order: 3;
  }
  .main_container .main_grid .bigTitle h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .main_container .main_grid .bigPicture {
    grid-column: span 1;
  }
  .main_container .main_grid .bigPicture .desktop-image {
    display: none;
  }
  .main_container .main_grid .bigPicture .mobile-image {
    display: block;
  }
  .main_container .main_grid .readMore {
    height: 200px;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .header_container {
    margin-top: 3vh;
    max-width: 343px;
  }
  section {
    margin-top: 3vh;
    max-width: 343px;
  }
  .grid_articles {
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr;
    grid-template-columns: [col1] 1fr;
  }
}/*# sourceMappingURL=style.css.map */